<!DOCTYPE html>
<html lang="en">
<head>
{% if msg %}
<script> alert('{{ msg }}'); </script>
{% endif %}
{% load static %}
  <meta charset="utf-8">
  <title>Sidebar</title>
  <link rel="stylesheet" href="{% static 'bootstrap.css' %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
   <div class="wrap">

    <div class="sidebar">
       <h1>Dashboard</h1>
      <ul>
        <li><a href="{% url 'adminhome' %}"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="{% url 'newacc' %}"><i class="fa fa-user"></i>Create User</a></li>
        <li><a href="{% url 'editrole' %}"><i class="fa fa-users"></i>Edit User Role</a></li>
        <li><a href="{% url 'newrole' %}"><i class="fa fa-user-plus"></i>Create Role</a></li>
        <li><a href="{% url 'deleteacc' %}"><i class="fa fa-trash"></i>Delete Account</a></li>
        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
      </ul>
    </div>

  <!--Delete Existing Account Start-->
  <section class="editUserRoles">
      <form method = "POST" action =  "{% url 'postdelete' %}" >
      {% csrf_token %}
        <div class="row">
          <div class="col-12 m-lg-3">
            <h1 class="font-weight-bold">Delete Existing Account</h1> 
          </div>

          <div class="col-12 mb-3">
            <div class="form-group row">
              <div class="col-6 m-lg-3">
                <label for="" class="font-weight-bold">Users:</label>
                  <select class="form-control" id="user" name = "username">
                    <option value="">Please choose an option</option>
                      {% for y in namelist%}
                      <option> {{y}}</option>
                        {% endfor%}

                  </select>
              </div>
              <div class="col-6 m-lg-3">
                <label for="" class="font-weight-bold">Confirm Password</label>
                  <input type="password" class="form-control" name = "password">
              </div>
              <div class="col-6 m-lg-3">
                <button type= "submit" class="btn btn-danger col-12">Delete</button>
              </div>
            </div>          
          </div>

        </div>
      </form>
  </section> 
  <!--Delete Existing Account End-->

  </div>

<script>

</script>

</body>
</html>